@CHARSET "UTF-8";

@IMPORT url("reset.css");  /* 해당 css 파일 상속 */

.trClass {
	border: 2px solid black;
	height: 50px;
}

.tdClassTitle {
	border: 2px solid black;
	text-align: center;
	background-color: #FF0000;
	color: black ; 
	width: 150px;
}

.tdClassRow {
	border: 2px solid black;
	text-align: center;
	background-color: #ffffff;
	color: black;
	width: 150px;
}

.legend{
  border: 1px solid black;
  text-align: left;
	
}


